* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

html,body{
    background-color: #30090e;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.container{
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    border: 10px solid #97091a;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    min-height: 800px;
    height: 100vh;
    overflow: hidden;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 5px solid rgb(255, 255, 255); /* Color del segundo borde */
}

.container::after {
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 1px solid #f0d882;
}

.bg_coins{
    position: absolute;
    width: 400px;
    top: 0;
}

.tiger_img{
    z-index: 3;
    position: absolute;
    width: 300px;
    bottom: -150px;
    left:-50px;
}

.bg_center_container{
    z-index: 2;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg_center{
    width: 400px;
}

.button_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    max-width: 200px;
}

.bg_center_container button {
    z-index: 5;
    position: relative;
    width: 130px;
    height: 70px;
    background-image: radial-gradient(circle at center, #FF0000, #ac1010);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px -1px 25px 8px rgba(172,16,16,0.75);
    -webkit-box-shadow: 0px -1px 25px 8px rgba(172,16,16,0.75);
    -moz-box-shadow: 0px -1px 25px 8px rgba(172,16,16,0.75);
    border: none;
    margin: 3px;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    animation: shadowEffect 1s infinite alternate;
  }
  
  .bg_center_container button::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #FFFFFF;
    z-index: 6;
    border-radius: 3px;
  }


  @keyframes shadowEffect {
    0% {
        transform: scale(1);
        box-shadow: 0px -1px 25px -10px rgba(172,16,16,0.75);
        -webkit-box-shadow: 0px -1px 25px -10px rgba(172,16,16,0.75);
        -moz-box-shadow: 0px -1px 25px -10px rgba(172,16,16,0.75);
    }
    50% {
        box-shadow: 0px -1px 25px 4px rgba(172,16,16,0.75);
        -webkit-box-shadow: 0px -1px 25px 4px rgba(172,16,16,0.75);
        -moz-box-shadow: 0px -1px 25px 4px rgba(172,16,16,0.75);
    }
    100% {
        transform: scale(1);
        box-shadow: 0px -1px 25px 7px rgba(172,16,16,0.75);
        -webkit-box-shadow: 0px -1px 25px 7px rgba(172,16,16,0.75);
        -moz-box-shadow: 0px -1px 25px 7px rgba(172,16,16,0.75);
    }
  }

  .bg_center_container button p{
    transform: scaleY(2);
  }


  .bg_center_container h4{
    max-width: 80%;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 3px;
  }

  .bg_center_container h4:nth-child(2){
    font-size: 14px;
  }

  .bg_center_container h4:nth-child(3){
    font-size: 14px;
    max-width: 75%;
  }


  
video {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


button {
    z-index: 5;
    position: absolute;
    width: 130px;
    height: 70px;
    background-image: radial-gradient(circle at center, #FF0000, #ac1010);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px -1px 25px 8px rgba(172,16,16,0.75);
    -webkit-box-shadow: 0px -1px 25px 8px rgba(172,16,16,0.75);
    -moz-box-shadow: 0px -1px 25px 8px rgba(172,16,16,0.75);
    border: none;
    margin: 3px;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    animation: shadowEffect 0.5s infinite alternate;
    bottom: 30%;
  }
  
 button::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #FFFFFF;
    z-index: 6;
    border-radius: 3px;
  }



  button p{
    transform: scaleY(2);
  }


  .statue_img{
    z-index: 3;
    position: absolute;
    width: 150px;
    bottom: 50px;
    right:20px;
  }