:root{
    --theme-color: white;
    --text-color:black;
    --primary-color:#2d4c79;
    --secondary-color:#c42531;
    /* Fin vars */
    font-family:'Roboto', sans-serif;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
}

header{
    background-color: #004b23;
   grid-column: 1 / -1;
   grid-row: 1 / 2;
   height: 50px;
}
nav{
    background-color: #923814;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
main{
    background-color: #f2d274;
    grid-column: 2 /  7;
    grid-row: 2 / 3;
}
footer{
    background-color: #ffefca;
    grid-column: 1 /  -1;
    grid-row: 3 / 4;
    height: 200px;
}