header{
display: flex;
justify-content: space-between;
max-width: var(--max-width);
}

.header__logo{
display: flex;
gap: 5px;
cursor: pointer;
}
.header__logo img{
    height: 70px;
    width: auto;
    margin: auto 0;
}

.header__logo h1{
    margin: auto 0;
}

.header__menu-desktop{
    display: none;
}
.header__others{
display: flex;
gap: 30px;
align-items: center;
}

.header__menu{
position: fixed;
z-index: 999;
width: 100%;
height: 100%;
left: 0;
position: absolute;
background-color: rgba(255, 172, 68, .5);
clip-path: inset(0 100% 0 0);
transition: .5s;
}

 #check{
    display: none;
} 
#check:checked + .header__menu{
    clip-path: inset(0 0 0 0);
}

.header__logo-mobile{
    display: flex;
    gap: 5px;
    padding: 20px;
    cursor: pointer;
    }
    .header__logo-mobile img{
        height: 70px;
        width: auto;
        margin: auto 0;
    }
    
    .header__logo-mobile h1{
        font-size: 2em;
        margin: auto 0;
        color: var(--text-color-reverse);
    }

    .header__dp-menu-close{
        color: var(--text-color-reverse);
        float: right;
    }
.header__menu-container{
    position: absolute;
    background-color: #f36e5d;
    height: 100vh;
    width: 300px;
    left: 0;

}
.header__menu ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__menu li{
border-bottom: solid 1px var(--third-color);
}


.header__menu a{
    color: var(--text-color-reverse);
    font-weight: bold;
    text-decoration: none;
    transition: all .2s ;
}

.header__menu a:hover,
.header__menu a:focus{
font-size: 1.2em;
color: rgb(255, 236, 236);
}
.header__button{
    z-index: 1;
    padding: 10px 20px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid var(--text-color-reverse);
    color: var(--text-color-reverse);
    border-radius: 6px;
    position: relative;
    transition: transform .2s;
    margin-left: 30px;
}

.header__button-desktop{
    display: none;
    z-index: 1;
    padding: 10px 20px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid var(--third-color);
    border-radius: 6px;
    position: relative;
    transition: transform .2s;
    min-width: 150px;
}
.header__button:hover,
.header__button-desktop:hover{
transform: scale(1.1);
}



@media (min-width: 992px) {

    .header__menu-desktop{
        display: block;
        margin: auto 0;
        }
        
        .header__menu-desktop ul{
            display: flex;
            gap: 30px;
        }
        
        .header__menu-desktop a{
            color: var(--text-color);
            font-weight: bold;
            transition: transform .4s;
        }

        .header__menu-desktop a:hover,
        .header__menu-desktop a:focus{
        font-size: 1.2em;
        }

    .header__menu{
        display: none;
    }

    .header__dp-menu{
        display: none !important;
    }

    .header__button-desktop{
        display: block;
    }

}