.tools{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
}
.tools__patners{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 10px;
width: 100%;

}
.patner{
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    }
.patner a{
    font-weight: bold;
    margin: auto 0;
    }

    .patner i{
        font-weight: bold;
        margin: auto 0;
        }
.tools__patner-img{
    height: 50px;
}
.tools__body{
display: grid;
grid-template-columns: 1fr;
gap: 30px;
}

.tools__body-box{
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
}

.tools__body-box h4{
margin-top: 20px;
}

.tools__body-box p{
    margin-top: -10px;
    }
.tools__body-box:first-child{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.tools__body-secondary i{
    
}
.tools__body-box:nth-child(2) i{
    color: #1cc2ae;
}

.tools__body-box:nth-child(3) i{
    color: #d97834;
}

.tools__body-box:nth-child(4) i{
    color: #6950d2;
}

.tools__body-box:nth-child(5) i{
    color: #409fe3;
}


@media (min-width: 576px) {
    .tools__body{
        grid-template-columns: 1fr 1fr;
        
        }
        .tools__body-box:first-child{
            grid-column: 1 / 3;
            
        }

}

@media (min-width: 992px) {
    .tools__body{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        }
        .tools__body-box:first-child{
            grid-column: 1 / 2;
            grid-row: 1/ 3;
            max-height: 450px;
            align-self: center;
        }

}

