header{
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--theme-color);
}
.head__logo{
    height: 100%;
}

.main-nav{
    width: 60%;
    z-index: 999;
}
.main-nav__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.main-nav__item{
    margin: 0 5px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}



.main-nav__link{
    font-size: 1em;
    text-decoration: none;
}

.main-nav__link::after{
    content: "";
    width: 0%;
    height: 3px;
    background: var(--secondary-color);
    position: absolute;
    right: 0;
    bottom: -10px;
   
}

.main-nav__link:hover::after{
        -webkit-animation: item-nav-animation-hover 3s ease-in-out infinite;
        animation: item-nav-animation-hover 3s ease-in-out infinite;
}

.main-nav__link:focus::after{
    width: 100%;
    /* animation: item-nav-animation-focus 2s ease 0s infinite normal forwards; */
}

@-webkit-keyframes item-nav-animation-hover{
    0% {width: 0%;}
    50%{width: 100%;}
    100%{width: 0%;}
}

@keyframes item-nav-animation-hover{
    0% {width: 0%;}
    50%{width: 100%;}
    100%{width: 0%;}
}

@-webkit-keyframes item-nav-animation-focus{
    0% {-webkit-transform: scale(1);transform: scale(1);}
    50%{-webkit-transform: scale(1.1);transform: scale(1.1);}
    100%{-webkit-transform: scale(1);transform: scale(1);}
}

@keyframes item-nav-animation-focus{
    0% {-webkit-transform: scale(1);transform: scale(1);}
    50%{-webkit-transform: scale(1.1);transform: scale(1.1);}
    100%{-webkit-transform: scale(1);transform: scale(1);}
}
.head__shop-icon{
    position: relative;
   font-size: 1.7em !important;
}

.head__shop-icon::after{
    content: '4';
    position: absolute;
    height: 50%;
    top: -5px;
    right: -8px;
    font-size: .6em;
    font-weight: bold;
    font-family: sans-serif;
    background-color: var(--secondary-color);
    padding: 4px;
    border-radius: 50%;
}


.btn{
    z-index: 0;
    background-color: var(--primary-color);
    border: none;
    color: var(--font-color-reverse);
    font-size: .8em;
    font-weight: bold; 
    border-radius: 10px;
    padding: 10px 20px 15px 20px;
    position: relative;
    cursor: pointer;
    width: 175px;
    -webkit-transition: -webkit-transform 1s ease 0s;
    transition: -webkit-transform 1s ease 0s;
    -o-transition: transform 1s ease 0s;
    transition: transform 1s ease 0s;
    transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

.btn::after{
    z-index: -1;
    content: "";
    position: absolute;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    width: 90%;
    height: calc(100% + 6px);
    top: -10.5%;
    right: -10px;
    
}
.head__menu-icon{
    display: none !important;
    font-size: 1.7em !important;
    cursor: pointer !important;
  
}
#check{
display: none;
}
@-webkit-keyframes btn-animation-border{
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    50%{
        -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
    }

    100%{
        -webkit-transform: rotate(10);
                transform: rotate(10); 
    }
}
@keyframes btn-animation-border{
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    50%{
        -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
    }

    100%{
        -webkit-transform: rotate(10);
                transform: rotate(10); 
    }
}



.btn:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}
.btn:hover::after {
    -webkit-animation: btn-animation-border 3s ease-in-out infinite;
            animation: btn-animation-border 3s ease-in-out infinite;
}
@media(max-width: 1200px){

    header{
        width: 95%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }



}

@media(max-width: 950px){
    .main-nav__list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 100%;
        height: 300px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        left: 0;
        top: 0;
        padding: 0;
        background-color: rgba(244,247,252,.9);
        margin-top: -20px;
    }

    .main-nav{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
                clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
        background-color: transparent;
        margin-top: 80px;
        }
        #check:checked + .main-nav{
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .main-nav__item{
            display: flex;
            width: 100%;
        }

        .main-nav__link{
           width: 100%;
           text-align: center;
           transition: background-color 0.5s ease;
        }
        .main-nav__link::after{
            content: "";
            width: 0%;
            height: 3px;
            background: transparent;
            position: absolute;
            right: 0;
            bottom: -10px;
           
        }
        .main-nav__link:hover{
            color: var(--theme-color-reverse) !important;
            background-color: var(--primary-color);
            transform: scale(1.1);
        }

        .main-nav__link:focus{
            color: var(--font-color) !important;
            background-color: var(--secondary-color);
            transform: scale(1.3);
        }

    .head__menu-icon{
        display: block !important;
        margin-left: 20px;
    }

    .head__shop-icon
    {
        margin-left: auto;
    }


    .head__btn{
        display: none;
    }
}