.reservation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--theme-color-reverse); 
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.reservation__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    padding: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   
}


.reservation__subtitle{
    font-size: 1em;
    margin: 0;
    color: var(--primary-color);
}
 
.reservation__title{
    font-size: 2em;
    margin: 0;
    margin-bottom: 60px;
}

.reservation__body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.reservation__contacts-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.reservation__contacts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reservation__contacts-details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.reservation__contacts span{
    background-color: var(--secondary-color) !important;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
}
.reservation__contacts-details p{
    color: var(--primary-color);
    margin: 0;
    font-size: .7em;
    font-weight: bold;
}

.reservation__contacts-details a{
    margin: 0;
    font-size: .7em;
    font-weight: bold;
}

.reservation__form-container{
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.reservation__select{
    width: 100%;
}

.reservation__input-size{
width: calc(50% - 20px);
}

.reservation__footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.reservation__footer p{
    font-size: .7em;
    font-weight: bold;
}

@media(max-width: 1200px){
    .reservation__container{
        width: 95%;   
    }

}

@media(max-width: 950px){

}

@media(max-width: 650px){

    .reservation__body{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .reservation__contacts-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        
    }

    .reservation__contacts{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 10px;
    }
    .reservation__form-container{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .reservation__footer{
 
        width: 100%;
  
    }
}