.video{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var( --primary-color);
}

.video *{
color: var(--theme-color-reverse);
}
.video__body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    padding: 40px 0;
}
.video__left{
    width: 50%;
}

.video__subtitle{
    font-size: .6em;
    margin: 0;

}
.video__title{
    font-size: 3em;
    margin: 0;
}
.video__play{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-top: 20px;

}

.video__play-button-stars{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: start;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: var( --secondary-color);
    color: var(--font-color);
    font-weight: bold;

}
.video__icon-stars{
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
}

.video__play-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 40px;
    cursor: pointer;
}
.video__play span{
    font-size: 80px;
}
.video__right{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
width: 50%;
}


.video__img{
    padding: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    --video__imag-size: 250px;
    --video__imag-size-border: calc(var(--video__imag-size) + 20px);
    height: var(--video__imag-size);
    width: var(--video__imag-size);
    border-radius: 50%;
    position: relative;
    
}
.video__img::after{
    padding: 0;
    margin: 0;
    content: "";
    position: absolute;
    left: calc(calc(var(--video__imag-size) - var(--video__imag-size-border) - 10px) / 2);
    top: calc(calc(var(--video__imag-size) - var(--video__imag-size-border) - 10px) / 2);
    /* top: -17.5px;
    left: -17.5px; */
    border: 5px solid var(--secondary-color); 
    width: var(--video__imag-size-border);
    height: var(--video__imag-size-border);
    border-radius: 50%;
 }


.video__img-top{
    margin-left: 20px;
    background-image: url("../img/cafe.jpg");
    background-position: center;
    background-size: cover;
}
.video__img-right{
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: -140px;
    background-image: url("../img/sopa-mariscos.jpg");
    background-position: center;
    background-size: cover;
}
.video__img-bottom{
    margin-left: 90px;
    margin-top: -90px;
    background-image: url("../img/cafeteria.jpg");
    background-position: center;
    background-size: cover;
}

@media(max-width: 1200px){
    .video__body{
        width: 95%;
    }
}

@media(max-width: 950px){
    
}

@media(max-width: 750px){
    .video__body{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .video__left{
        width: 100%;
        margin-bottom: 40px;
    }
    .video__right{
        width: 100%;
    }
    
}

@media(max-width: 650px){
    .video__img-right{
        margin-right: 20px;
    }
}

@media(max-width: 450px){
.video__title{
    font-size: 2.5em;

}
.video__img-top{
    display: none;
    margin-left: 0;
    -ms-flex-item-align: center;
        align-self: center;

}
.video__img-right{
    display: none;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 20px;
    margin-right: 0;
}
.video__img-bottom{
    margin-left:0 ;
    margin-top: 20px;
    -ms-flex-item-align: center;
        align-self: center;

}
}