:root{
--font-color-primary: white;
--font-color-secondary: black;
--primary-color: #6e24ff;
--button-bg-color-prmary: #fc4b3e;
--button-bg-color-secondary: #8d53ff;
--max-width: 1320px;
--paddig: 0 10px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    font-family: "Poppins", sans-serif;
    color: var(--font-color-primary);
}
ul{
    list-style: none;
}
li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

body,html{
display: flex;
justify-content: center;
width:  100%;
position: relative;
background-color: black;
height: auto;
}
body{
  display: flex;
  flex-direction: column;
 align-items: center;
}
button{
  border: none;
  border-radius: 60px;
  background-color: var(--button-bg-color-prmary);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding: 12px 30px;
}
button p {
  position: relative;
  z-index: 2;
}
 
 button::after {
  content: " ";
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 50px;
  height: 30px;
  background-color: var(--button-bg-color-secondary);
  z-index: 1;
  opacity: 0;
  border-radius: 60px;
  transition: all 0.6s ease-in-out;
}



button:hover::after {
  opacity: 1;
  height: 103%;
  width: 103%;
  left: -1px;
  bottom: -1px;
  border: none;
}

.todo{
    background-color: rgb(147, 147, 255);
    width: 100%;
    height: 3500px;
  }

#home{
  display: flex;
  flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
    background-color: rgb(63, 53, 150);
    position: relative;
    /* overflow: hidden; */
    gap: 40px;
}



.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: transparent;
    margin-top: 10px;
    width: 100%;
    padding: var(--paddig);
    position: fixed;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s ease, margin-top 0.3s ease;
  }

  .head.scroll {
    background-color: rgb(255, 165, 165);
    margin-top: 0;
    transition: background-color 0.3s ease, margin-top 0.5s ease;
  }

  .logo_head {
    height: 32px;
    cursor: pointer;
  }



  .icon-menu {
    width: 30px;
    height: 30px;
    position: relative;
  }
  
  .icon-menu::after {
    content: "";
    border: 1px solid white;
    border-radius: 3px;
    padding: 18px 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #nav{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    height: 100vh;
    width: 100%;
    transform: scaleX(0%);
    transform-origin: left center;
    opacity: 0;
    transition: transform  0.3s ease, opacity  0.3s ease;
    z-index: 9999;
    padding: 0 35px;
  }

  #nav.active-nav{
    transform: scaleX(100%);
    opacity: 1;
    transition: transform  0.3s ease, opacity  0.3s ease;
  }

  #nav_pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    width: 100%;
    max-width: var(--max-width);
  }

 .menu_pc{
    display: none;
  }



  .nav_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    
  }

  .menu{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 10px;
  }

  .logo_nav{
    margin-top: 40px;
  }

  .menu li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  100%;
  }

  /* .menu li:not(:first-child) {
    margin-top: 20px;
    border-top: 0.1px dotted  #bebebe; 
    padding-top: 20px; 
  } */

  .menu li a{
    font-size: 18px;
    font-weight: 600;
  }

  .icon-exit {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: 20px;
    top: 20px;
  }

  .show-more-list {
    width: 15px;
    height: 15px;
  }

  .login-button{
    display: none;
  }

  .get_started_button {
    width: 100%;
    
  }
  



  .contact_info{
    display: flex;
    flex-direction: column;
    gap:  4px;
  }
  
  .contact_info h2{
    margin-bottom: 10px;
    font-weight: 600;
  }

/* Flecha ir arriba */
  .border_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.3s ease, opacity  0.3s ease;
    cursor: pointer;
    z-index: 9999;
  }

  .border_icon.border_icon_disable{
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.3s ease, opacity  0.3s ease;
  }
  
  .progress-bar {
    width: 0;
    height: 5px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
  
    transition: width 0.3s ease;
  }

 

  .arrow-top{
    height: 30px;
    width: 30px;

  }



.border_icon svg{
  position: absolute;
  transform: rotate(-90deg);
}


  .progress-bar-circle {
    stroke-dasharray: 125.66; /* 2 * pi * r */
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 0.3s;
  }

/* fin Flecha ir arriba */



/* contenido presentacion */

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: url('oooscillate.svg'), linear-gradient(to bottom, var(--primary-color), #0056b3);
  background-size: cover, auto;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.banner_items{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 120px;
  padding: var(--paddig);
  max-width: var(--max-width);
}


.banner_start{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.banner_discount{
border: 1px solid white;
padding: 10px;
border-radius: 20px;
font-weight: 600;
cursor: pointer;
}

.banner_start h1{
font-size: 30px;
}

.banner_start p{
 font-size: 16px;
  }

  .maged{
    font-size:14px !important;
    font-weight: 600;
    background-color:  rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 8px 10px;
  }

  .banner_buttons_container{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .banner_buttons_container button{
    height: 50px;
  }

  .banner_buttons_container button p{
    height: 50px;
    font-size: 16px ;
  }
  .get_started_button_bgoff{
    background-color: transparent;
    border: 1px solid white;
  }

    
.banner_end{
  position: relative;
  display: flex;
  width: 100%;
  
}

.banner_img_man{
  z-index: 2;
  position: relative;
}
.banner_img_wd{
  width: 200px;
  position: absolute;
  left: 20px;
  z-index: 1;
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* fin contenido presentacion */


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
/*   background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {
/*   background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
  padding-left: 20px;
}

@media (min-width: 1025px) {
  .icon-menu {
    display: none;
  }

  .banner_start h1{
    font-size: 44px;
    }

.menu_pc{
  display: flex;
  gap: 40px;
}

.menu_pc li{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  transition: color  0.5s ease;
}

/* .menu_pc li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
  border-radius: 1px;
} */

.menu_pc li:hover > a {
  transition: color 0.5s ease;
  color: var(--button-bg-color-prmary);
}

.menu_pc li a{
font-size: 18px ;
font-weight: 5600;
color: white;
}

.oculto {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top center;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu_pc li:hover > .oculto {
  opacity: 1;
  transform: translateX(-50%) scaleY(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.login-button{
  display: block;
}

.banner_items{
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  padding-top: 50px;
}

.features {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(8, 1fr);
}

.features_card:nth-child(1) {
  grid-column: span 4;
}
.features_card{
  grid-column: span 2;
}
.features_card:nth-child(2),
.features_card:nth-child(3) {
  grid-column: span 2;
}


}
