:root{
    --theme-primary: white;
    --theme-secondary: rgb(58, 77, 83);
    --text-color: white;
    --color-all: #8BC34A;
}

*{
    box-sizing: border-box;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body{
   
}
.body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1200px;
    height: 100%;
    margin: auto ;
   
}

.slider{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
}


.slider__container{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 300%;
    margin: auto;
    gap: 20px;
    /* transform: translateX(-33.33333333333333%);  */
    transition: all .5s ease;
}

.slider__container-card{
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    padding: 50px;
    gap: 80px;
    background-color: #34495E ;
    border-radius: 50px;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.33);
    margin:auto;
}


.slider__person{
    order: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 10px;
    left: 0;
    /* background-color: rgba(0, 0, 0, .5); */
    gap: 30px;
    border-radius: 3px;
    width: 70%;
}

.slider__image{
    order: 2;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}
.slider__nombre{

}
.slider__descripcion{

}
.slider__skills{
display: flex;
justify-content: flex-start;
gap: 10px;
}

.slider__skills-item{
    width: 80px;
    max-width: 80px;
}
.slider__skills p{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: var(--color-all);
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    transition: transform .2s;
    box-shadow: 5px -1px 5px 0px #443850;
    color:var(--text-color);
    font-size: 16px;
    font-weight: 400;
}

.slider__skills i{
    color: var(--text-color);
}

.slider__skills p:hover{
    transform: scale(1.05);
}

.slider__punto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
}

.slider__punto span{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.33);
    cursor: pointer;
    transition: all .5s;
}

.slider__punto span:hover{
transform: scale(1.02);
}

.activo{
    background-color: var(--color-all) !important; 
    width: 200px !important;
}




/*           acordeon         */

.acordeon{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: var(--theme-secondary);
}
.acordeon__container{
display: flex;
flex-direction: column;
border-bottom: #e0e0e0 solid 1px;
}
.acordeon__header{
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}
.acordeon__titulo{

}
.acordeon__flecha{
    transition: all .3s ease;
    transform: rotate(180deg);
    color: #8BC34A;
}
.acordeon__body{
/* display: none;  */
overflow: hidden;
max-height: 0;
transition: all .3s ease;
}





/*  Modal   */

.modal{
    display: none;  
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition: all 3s ease;
    overflow: hidden;
}
.modal__container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    margin: 15% auto;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    border-radius: 50px;
    padding: 50px;
    position: relative;
    overflow: hidden;
}
.modal__header{
    height: 50px;
    border-radius: 20px 0 0 0 ;
}
.modal__titulo{
color: black;
}
.modal__cerrar{
position: absolute;
top: 5%;
right: 5%;
color: red;
cursor: pointer;
}
.modal__body{
    position: relative;
}
.modal__body p{
color: black;
}

/*                    stepper                  */
.stepper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.steppers__buttons{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.stepper__radeon{
    z-index: 2;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 30px rgba(156, 206, 247, 0.3);
    display: flex;
    align-items: center;
    justify-content: center; 
}



.stepper__radeon{
    font-size: 60px;
    color: black;
    font-weight: 900;
}
.stepper__radeon-pass{
    background: rgba(87, 196, 87, 0.3);
}



.stepper__stepper{
    position: absolute;
    top: 250px;
    transition: all 1s ease;
}
#stepper__stepper-1{
    left: 200px;
}
#stepper__stepper-2{
    left: 650px;
}
#stepper__stepper-3{
    left: 650px;
}

.stepper__button{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #34495E;
    cursor: pointer
}

.stepper__check{
    color: black;
}


.tabs{
    background-color: var(--theme-secondary);
}
.tab__header{

}
.tab__menu{
display: flex;

}

.tab__item{
    width: 150px;
    height: 50px;
    background-color: #8BC34A;
    font-size: 2em;
    list-style:none;
    cursor: pointer;
}



.tab__body{
display: none;
}

/* galeria */


.galeria{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-columns: 1fr;
    width: 100%;
    gap: 20px;
}



.galeria__imagen{
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.galeria__imagen:first-child{
    grid-column: 1 / 4;
    grid-row: 3 / 6;
  }



.modal__img{

z-index: 999;
display: flex;
flex-direction: column;
justify-items: center;
width: 100vw;
height: 100%;
position: fixed;
background-color: rgba(0,0,0,.9);
transform: translateY(100%);
transition: all 1s ease;
}
#ver_foto{
width: 40%;
margin: auto;
}
.modal__img-cerrar{
width: 100px;
height: 100px;
margin: auto;
background-color: #34495E;
}