/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    /* Aseguramos scroll vertical */
    scroll-snap-type: y mandatory;
    /* Habilitamos el snap en scroll vertical */
    height: 100%;
    /* Usamos el 100% para asegurar la altura correcta */
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Encabezado */
header {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 8em;
    /* Tamaño de fuente móvil */
    font-weight: bold;
    color: #333;
}

.tagline {
    width: 100%;
    text-align: center;
    /* Centramos para móviles */
    font-size: 1.8em;
    /* Tamaño de fuente móvil */
    color: #555;
    margin-top: -20px;
}

/* Sección de tecnologías */
.technologies {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centrado en móviles */
    padding: 0 20px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    /* Permitir que los iconos se envuelvan */
    margin-top: 20px;
}

.icons img {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.icons img:hover {
    opacity: 1;
}

/* Sección de proyectos */
.projects {
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    width: calc(100% - 20px);
    /* Usar ancho completo en móviles */
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 1.2em;
    color: #333;
}

/* Pie de página */
footer {
    margin-top: 40px;
    text-align: center;
    color: #777;
    font-size: 0.9em;
    padding: 20px;
}

/* Media Queries para pantallas más grandes */
@media (min-width: 768px) {

    .tagline {
        font-size: 2.3em;
        /* Aumenta el tamaño para tablets */
        text-align: right;
        /* Alinea a la derecha en pantallas más grandes */
    }

    .technologies {
        justify-content: end;
        /* Alinea a la derecha en pantallas más grandes */
    }

    .project {
        width: calc(50% - 20px);
        /* Dos columnas en tablets */
    }
}

@media (min-width: 1024px) {
    .logo {
        font-size: 10.5em;
        /* Aumenta el tamaño para pantallas grandes */
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .logo {
        font-size: 4em;
        /* Ajuste para móviles pequeños */
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        font-size: 5em;
        /* Ajuste para tablets */
    }
}