/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    /* Aseguramos scroll vertical */
    scroll-snap-type: y mandatory;
    /* Habilitamos el snap en scroll vertical */
    height: 100%;
    /* Usamos el 100% para asegurar la altura correcta */
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    position: relative;
}

/* Encabezado */
header {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    font-size: 8em;
    font-weight: bold;
    color: #333;
    display: inline-block;
}

.letter {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

@keyframes waveEffect {

    0%,
    100% {
        /* transform: scale(1); */
        color: #333;
    }

    50% {
        /* transform: scale(1.01); */
        color: #494949;
    }
}

.tagline {
    display: flex;
    justify-content: flex-end;
    /* Centramos para móviles */
    font-size: 1.8em;
    /* Tamaño de fuente móvil */
    color: #555;
    margin-top: -40px;
}

/* Sección de tecnologías */
.technologies {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centrado en móviles */
    padding: 0 20px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    /* Permitir que los iconos se envuelvan */
    margin-top: 20px;
}

@keyframes waveOpacity {

    0%,
    100% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }
}

.icons img {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    animation: waveOpacity 3s infinite;
}

/* Aplica diferentes retrasos a cada icono */
.icons img:nth-child(1) {
    animation-delay: 0s;
}

.icons img:nth-child(2) {
    animation-delay: 0.3s;
}

.icons img:nth-child(3) {
    animation-delay: 0.6s;
}

.icons img:nth-child(4) {
    animation-delay: 0.9s;
}

.icons img:nth-child(5) {
    animation-delay: 1.2s;
}

/* Añade más nth-child si tienes más iconos */


/* .icons img:hover {
    opacity: 1;
} */

.arrow-down {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 45%;
    /* Centrado verticalmente cuando está arriba */
    left: 50%;
    transform: translate(-50%, -50%);
    animation: smoothBounce 3s infinite;
    cursor: pointer;
    transition: all 0.5s ease;
    /* Transición suave entre posiciones */
}

.arrow-down.down {
    top: 95%;
    /* Posiciona la flecha en la parte inferior */
    left: 3%;
    /* Posiciona la flecha hacia la izquierda */
    transform: translate(0) rotate(180deg) scale(0.7);
}




/* Sección de proyectos */
.projects {
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;

}

.projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Estilos del menú de proyectos */
.project-menu {
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    margin: 0 auto 20px auto;
    position: relative;
}

.color {
    z-index: -1;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 25%;
    height: 3px;
    background-color: #312a2a;
    border-radius: 5px;
    transition: left 0.3s ease, width 0.3s ease, background-color 0.3s ease;
    /* Suaviza las transiciones */
}

/* Estilos adicionales para el punto de inicio */
.color.start-transition {
    background-color: #a1d2ce;
    /* Color de fondo al inicio */
}

/* Estilos adicionales para el punto final */
.color.end-transition {
    background-color: #f7b5b5;
    /* Color de fondo al final */
}

.project-menu button {
    font-size: .9em;
    font-weight: 600;
    background-color: transparent;
    border: none;
    /* padding: 10px 20px; */
    margin: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project-menu button.active {
    /* background-color: #333; */
    color: #312a2a;
}

.project-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.project-slider::-webkit-scrollbar {
    display: none;
    /* Safari y Chrome */
}


.project {
    min-width: 100%;
    height: 70vh;
    scroll-snap-align: center;
    /* background-color: #fff; */
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    flex-shrink: 0;
}

.project img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 1.2em;
    color: #333;
}


/* Pie de página */
footer {
    position: absolute;
    margin-top: 40px;
    text-align: center;
    color: #777;
    font-size: 0.9em;
    padding: 20px;
    bottom: 3px;
    right: 3px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .tagline {
        display: flex;
        justify-content: flex-end;
        /* Centramos para móviles */
        font-size: 1em;
        font-weight: 600;
        /* Tamaño de fuente móvil */
        color: #555;
        margin-top: 0px;
    }

    .logo {
        font-size: 4em;
        /* Ajuste para móviles pequeños */
    }

    .technologies {
        justify-content: end;
        width: 100%;
        /* Alinea a la derecha en pantallas más grandes */
    }

    .icons {
        display: flex;
        justify-content: center;

        gap: 20px;
        flex-wrap: wrap;
        /* Permitir que los iconos se envuelvan */
        margin-top: 20px;
    }

    .icons img {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        font-size: 5em;
        /* Ajuste para tablets */
    }
}

/* Media Queries para pantallas más grandes */
@media (min-width: 768px) {



    .technologies {
        justify-content: end;
        /* Alinea a la derecha en pantallas más grandes */
    }

    .project {
        width: calc(50% - 20px);
        /* Dos columnas en tablets */
    }
}

@media (min-width: 1024px) {
    .logo {
        font-size: 10.5em;
        /* Aumenta el tamaño para pantallas grandes */
    }
}